In [1]:
2+5

7

In [3]:
5-4

1

In [5]:
2*3

6

In [7]:
10/5

2.0

In [9]:
10//5

2

In [11]:
11%3

2

In [13]:
2**3

8

# Datatypes

In [ ]:
#1) String 2) Integer 3) Float 4)boolen 5)list 6)Tuple 7)Dictionary 8)Set

In [17]:
student_name="Saadi"

In [19]:
print(student_name)

Saadi

In [23]:
print("value:",student_name)
print("Type:",type(student_name))
print("Memory Address:",id(student_name))

value: Saadi
Type: <class 'str'>
Memory Address: 2223875206064

In [31]:
student_status="true"
print("Status:",student_status)
print("class:",type(student_status))
print("memory id",id(student_status))

Status: true
class: <class 'str'>
memory id 140713880061480

In [5]:
a=5
print(a)
a=7
print(a)
a=9
print(a)
#Interpretator reading each line.

5
7
9

In [ ]:
#List
#Can store multiple values and is mutable or changable
# Starts with []

In [17]:
a=["saadi","Hadi","Ali","Dawood"]
print(a)
a[2]="Osama"
print(a)

['saadi', 'Hadi', 'Ali', 'Dawood']
['saadi', 'Hadi', 'Osama', 'Dawood']

In [ ]:
# Tuple
# Same as list but is not mutable or changable
# Starts with ()

In [19]:
a=("saadi","Hadi","Ali","Dawood")
print(a)
a[2]="Osama"
print(a)

('saadi', 'Hadi', 'Ali', 'Dawood')

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Set
# Returns only unique values
# Starts with {}

In [21]:
a={"saadi","Hadi","Ali","Dawood","Hadi"}
print(a)

{'saadi', 'Dawood', 'Hadi', 'Ali'}

In [ ]:
#Dictionary

In [3]:
#            0    1      2   3
record=["Qasim","Aslam",25,"PGD"]
print(record[2])

25

In [ ]:
#{
  #  key1: value1
   # key2: value2
#}

In [ ]:
# In Dictionary we replace index with Key which can be string or integer.

In [37]:
record={
    "name": "Qasim",
    "father_name":"Aslam",
    "age": 25,
    "program": "PGD"
}
record

{'name': 'Qasim', 'father_name': 'Aslam', 'age': 25, 'program': 'PGD'}

In [43]:
record["program"]
# Index replaced with Key value which is name, fname, age, and program so that it makes the slicing easier as you can see if we have enterred
# large amount of data, values can be wrongly inputted in different index number for example name input in fname index therefore having key sorts that issue and therefore we store large data sets of customers in dictionary format to make slicing easier.

'PGD'

In [49]:
record={
    "roll_no" : [1,2,3],
    "name" : ["Saadi","Hadi","Osama"]
}
record

{'roll_no': [1, 2, 3], 'name': ['Saadi', 'Hadi', 'Osama']}

In [55]:
import pandas as pd

In [57]:
pd.DataFrame(record)

   roll_no   name
0        1  Saadi
1        2   Hadi
2        3  Osama

In [59]:
name="mUhammad sAAdi"
dir(name)
# dir function returns the functions that we can perform on this data type.

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [61]:
name.title??
# adding ?? will tell you the details of particular function like title function here.

Signature: name.title()
Docstring:
Return a version of the string where each word is titlecased.

More specifically, words start with uppercased characters and all remaining
cased characters have lower case.
Type:      builtin_function_or_method

In [63]:
name.title()
# to apply any function on data type just write datatype.function()

'Muhammad Saadi'

In [67]:
name.lower()

'muhammad saadi'

In [69]:
name.upper()

'MUHAMMAD SAADI'

In [73]:
name.ljust??

Signature: name.ljust(width, fillchar=' ', /)
Docstring:
Return a left-justified string of length width.

Padding is done using the specified fill character (default is a space).
Type:      builtin_function_or_method

In [83]:
name="Saadi"
name

'Saadi'

In [89]:
name1= name.replace("Saadi","Hadi")
name1

'Hadi'

In [91]:
print(name)
print(name1)

Saadi
Hadi

# Type Casting

In [ ]:
# It means changing data type from one type to another type.

In [99]:
a=5
print(type(a)) # integer type
a=float(a) # float type
print(type(a))
a=bool(a) #Bool
print(type(a))
a=int(a)
print(type(a))
a=str(a)
print(type(a))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'int'>
<class 'str'>

In [103]:
name="Saadi"
name=bool(name)
print(type(name))

<class 'bool'>

In [121]:
name="Saadi"
name[1:]
# In string data type slicing can happen but overwriting I mean changing alphabet S to H can't happen.

'aadi'

In [123]:
name[0]="H"
# String data type does not support overwriting.

TypeError: 'str' object does not support item assignment

In [133]:
b=list(name)
print(b)
b[0]="H"
print(b)
#list supports overwriting.

['S', 'a', 'a', 'd', 'i']
['H', 'a', 'a', 'd', 'i']

In [137]:
uni="NED"
university_name="NED"
print(id(uni))
print(id(university_name))
# If a variable has same value in it then that variable will be stored in the same ID.

2225299118608
2225299118608

In [148]:
range??

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

In [150]:
range(10)

range(0, 10)

In [152]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [154]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [156]:
list(range(2,21,3))

[2, 5, 8, 11, 14, 17, 20]

# Assign Operators

In [163]:
a=5
a+=2
a

7

In [165]:
a=9
a-=5
a

4

In [167]:
a=2
a*=3
a

6

In [171]:
a=10
a//=5
a

2

# Comparison Operators

In [ ]:
## It is used to compare variables

In [174]:
a="qasim"
b="Qasim"
a==b

False

In [176]:
b="qasim"
a==b # equal to

True

In [178]:
b="Ali"
a!=b #is not equal to

True

In [180]:
a=5
b=7
a>b

False

In [182]:
a=8
b=7
a<b

False

In [184]:
a=5
b=5
a<=b

True

In [186]:
a=["Saadi","Hadi","Marium","Warda"]
"Hadi" in a
# in operator is also used to tell if any value exist.

True

In [188]:
a="saif"
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [190]:
b=dir(a)

In [192]:
c= [item for item in b if "_" not in item]
print(c)
# Taking only function without _ in directory of a.

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']